body{
    background-color: black;
    color: rgb(121, 119, 119);  
}

.titulo{
    background-color: black;
    color: white; 
    text-align: center;
}

#card-individual img {
    width: 170px;
    height: 280px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

#card-general{
 width: 200px;
 height: 350px;
 background: rgb(202, 202, 202);
}

#card-general img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}

#card-general-film{
    width: 280px;
 height: 420px;
 background: rgb(2, 0, 0);
}

#card-general-film img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}

#card-film{
    background-color: rgb(60, 91, 100);
    color: white;
}

/*
#card-planets{
    background-color: rgb(65, 61, 61);
}

#card-people{
    background-color: rgb(65, 61, 61);
    margin-top: 20px
}

.card-vehic { 
    width: 100%;
    height: 100%;
    background-color: rgb(65, 61, 61);
    color: white;
    padding: 15px;
}
.card .card-img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #ffffff00;
    /* object-fit: cover; 
    background-color: rgb(65, 61, 61);
    padding-top: 5px;
}

.card .card-img-top {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #ffffff00;
    object-fit: cover;
    background-color: rgb(65, 61, 61);
    padding-top: 5px;
}

#imagen-vehicles {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 1px solid #ffffff00;
    object-fit: cover;
    background-color: rgb(65, 61, 61);
}

.card-detalle {
    background-color: rgb(65, 61, 61);
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 1px solid #ffffff00;
    object-fit: cover;
}

#card-individual{ 
    color:black;
}

#imagen-individual{
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 1px solid #ffffff00;
    object-fit: cover;
    background-color: rgb(65, 61, 61);
}
*/